body {
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../imagens/background-pokemon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.pokedex {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}